.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 85%;
}
.name {
  width: 250px;
  height: 100px;
}
.btn {
  display: flex;
  width: 250px;
  height: 230px;
  border-radius: 19px;
  margin-top: 10px;
}

.btn {
  font-size: 25px;
  align-items: center;
}

@media (max-width: 465px) {
  .container {
    height: auto;
  }
  .buttons {
    width: 85%;
    height: 90%;
  }
  .name {
    margin-top: 10px;
  }
  .btn {
    width: 85%;
    height: 60px;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 20px;
  }
}

@media (min-width: 465px) and (max-width: 890px) {
  .buttons {
    flex-wrap: wrap;
    width: 85%;
    height: 90%;
  }
  .name,
  .btn {
    width: 40%;
    height: 20%;
  }
}

@media (min-width: 891px) and (max-width: 1178px) {
  .name,
  .btn {
    width: 40%;
    height: 180px;
  }
}
