.container {
  display: flex;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #f7f8f8, #d5e3fa);
}
#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: solid 1px #548f19;
  // border: none;
  width: 500px;
  margin: auto;
}
img {
  // display: flex;
  // align-items: center;
  width: 150px;
  margin-bottom: 15px;
  border-radius: 6px;
}
h1 {
  color: #3f51b5;
  margin-top: 0;
}

.btnn {
  width: 400px;
}

@media (max-width: 390px) {
  .btnn {
    width: 330px;
  }
}
